{% extends "website/base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>


            <p class="lead font-weight-bold">Libellé</p>

            <p>{{ object.libelle }}</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
          <form action="{% url 'cart:cart_add' object.id %}" method="post"
                class="d-flex justify-content-left">
              {{ form }}
              {% csrf_token %}
              <input aria-label="Search" value="Ajouter au panier" class="form-control btn-success" type="submit"/>
          </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

 <h4 class="my-4 h4 text-center">Informations additionnelles</h4>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Conditionnement:</span>
          <p>{{ object.conditionnement }}</p>
        </div>
        <!--Grid column-->

          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Prix d'achat:</span>
          <p>{{ object.prix_achat }}</p>
        </div>
        <!--Grid column-->

          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Taux TVA:</span>
          <p>{{ object.taux_TVA }}%</p>
        </div>
        <!--Grid column-->

           <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Prix de vente:</span>
          <p>{{ object.prix_vente }}%</p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

{#      <!--Grid row-->#}
{#      <div class="row wow fadeIn">#}
{##}
{#        <!--Grid column-->#}
{#        <div class="col-lg-4 col-md-12 mb-4">#}
{##}
{#          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">#}
{##}
{#        </div>#}
{#        <!--Grid column-->#}
{##}
{#      </div>#}
{#      <!--Grid row-->#}

    </div>
  </main>

{% endblock content %}
