<footer class="page-footer text-center white">


    <!-- Copyright -->
    <div class="footer-copyright py-2 justify-content-center white">
        <a href="mailto:contact@berarddistribution.fr" target="_blank">
            <i class="material-icons mr-5 green-text">email</i>
        </a>
        <a href="http://www.berarddistribution.fr/" target="_blank">
            <i class="material-icons mr-5 green-text">language</i>
        </a>
        <a href="tel:+33490715574" target="_blank">
            <i class="material-icons mr-5 green-text">phone</i>
        </a>
        <img style="width: 15%"
             src="/media/img/logo-berard-distribution.png"/>
    </div>
    <!-- Copyright -->

  </footer>