{% extends 'website/base.html' %}
{% load static %}

{#{% block title %}#}
{#    Panier#}
{#{% endblock %}#}

{% block content %}
    <main>
    <div class="container">
    <div class="table-responsive text-nowrap">
    <h2 class="text-center mt-3">Historique de vos commandes</h2>
    {% if histories %}
    <table class="table">
        <thead>
        <tr>
{#            <th scope="col">Price</th>#}
            <th scope="col">Libellé</th>
            <th scope="col">Prix Unitaire</th>
            <th scope="col">Quantité</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>

        <tr>
{#            <th scope="row">{{ forloop.counter }}</th>#}
                <td>
{#                    <a href="{{ product.get_absolute_url }}">#}
{#                        <img class="img-fluid img-thumbnail w-60"#}
{#                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"/>#}
{#                    </a>#}
                </td>
            <td>{{ order_item.libelle }}</td>
            <td class="num">{{ item.prix_achat }}</td>
            <td class="num">{{ item.quantite }}</td>
            <td class="num">{{ item.total_price }}</td>
        </tr>

{#        <tr class="total">#}
{#            <td>Total</td>#}
{#            <td colspan='1'></td>#}
{#            <td class="num">{{ item.get_total_price}}€</td>#}
{#        </tr>#}
        </tbody>
    </table>

{% else %}
        <div class="container text-center mt-5" style="min-height: 50vh">
            <h3>Votre historique est vide ...</h3>
        </div>

{% endif %}
    </div>
    </div>
  </main>
     <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <!-- You can alternatively load the minified version -->
      <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>
    $(document).ready(function() {
        $(".delete_article").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });

      });
    </script>
{% endblock %}