{% extends "website/base.html" %}


{% block navbar %}
{% include "website/topnavbar.html" with title_pager='Accueil' %}
{% endblock %}

{% block content %}
    {% include 'website/modals/display_picture.html' %}
    {% include 'helpers/cart_button.html' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!--Main layout-->
  <main>

    <div class="container text-center" style="min-height: 85vh;margin-top: 10%">
      <h1>Page d'accueil</h1>
      <p>
        {% lorem 3 p %}
      </p>

    </div>


  </main>


{% endblock content %}

