{#{% load cart_template_tags %}#}
{% load menu_generator %}

{% load static %}
<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
</script>

 {% get_menu "NAV_MENU_TOP" as top_menu %}
<!-- Navbar top -->
<div class="fixed-top">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>

    <div class="top_menu ">
      <div class="logo">
          <a class="navbar-brand waves-effect" href="{% url 'website:products' %}">
          <img class="w-25" src="{% static 'img/logo.jpg' %}"/>
      </a>
      </div>


      <ul>
        <li>
            <a href="{% url 'website:order_summary' %}" >
                <i class="fas fa-user"></i>
            </a>
        </li>

        <li>
            <a href="{% url 'cart:cart_detail' %}">
                    <i class="fas fa-shopping-cart"></i>
                        {% with total_items=cart|length %}
                      {% if cart|length > 0 %}
                          <span class="badge green z-depth-1 mr-1 position-absolute rounded-circle">
                          {{ total_items }}
                          </span>
                      {% else %}
                          <span class="badge red z-depth-1 mr-1 position-absolute rounded-circle">
                          0
                          </span>
                      {% endif %}
                  {% endwith %}
            </a>
        </li>
        <li>
            <a href="{% url 'website:logout' %}" >
                <span class="clearfix d-none d-sm-inline-block"><i class="fas fa-sign-out-alt"></i></span>
            </a>
        </li>


      </ul>
    </div>
  </div>
</div>
<!-- Navbar top -->

<!--Sidebar -->
{% get_menu "NAV_MENU_LEFT" as left_menu %}

    <div class="sidebar">
         <!-- Links -->
             <ul>

            {% for item in left_menu %}


                <li>

                <div class="row">
                    <div class="col-12 col-md-8" >

                          <a href="{% url 'website:products_by_group' group=item.name %}">
                            <span class="icon"><i class="fas fa-book"></i></span>
                            <span class="title">{{ item.name|title }} </span>
                          </a>

                    </div>

                    <div class="col-6 col-md-1 mt-2">
                      <a href="#{{ item.id }}" data-toggle="collapse" aria-expanded="false"
                                   class="dropdown-toggle">
                      </a>
                    </div>

                </div>





                 <!-- SubLinks -->
                {% if item.submenu %}
                     <ul class="collapse list-unstyled" id="{{ item.id }}">
                    {% for menu in item.submenu %}
                        <li>
                            <a href="{% url 'website:products_by_family' family=menu.name %}"
                                 id="submenu" class="dropdown-item">
                                  {{ menu.name|title }}
                              </a>

{#                        <div class="row">#}
{#                            <div class="col-12 col-md-8" >#}
{#                              <a href="{% url 'website:products_by_family' family=menu.name %}"#}
{#                                 id="submenu" class="dropdown-item">#}
{#                                  {{ menu.name|title }}#}
{#                              </a>#}
{#                            </div>#}
{#                            <div class="col-6 col-md-1 mt-2">#}
{#                              <a href="#menu{{ menu.id }}" data-toggle="collapse" aria-expanded="false"#}
{#                                           class="dropdown-toggle">#}
{#                              </a>#}
{#                            </div>#}
{#                        </div>#}

{#                            <!-- SubsubLinks -->#}
{#                            {% if menu.subsubmenu %}#}
{#                                 <ul class="collapse list-unstyled" id="menu{{ menu.id }}">#}
{#                                {% for submenu in menu.subsubmenu %}#}
{#                                    <li>#}
{#                                        <a href="{% url 'website:products_by_subfamily' subfamily=submenu.name %}"#}
{#                                           id="subsubmenu"#}
{#                                           class="dropdown-item"#}
{#                                        >{{ submenu.name|title }}</a>#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                                 </ul>#}
{#                            {% endif %}#}
{#                            <!-- Subsublinks -->#}

                        </li>

                    {% endfor %}



                     </ul>
                {% endif %}
                <!-- Sublinks -->



            {% endfor %}
            </ul>

          <!-- Links -->

  </div>

<!--Sidebar -->

