{% extends "website/base.html" %}

{% load menu_generator %} # menus.py

{% block content %}
     {% include "website/modals/_modal.html" %}
    <!--Main layout-->
  <main>
    <div class="container">
 {% get_menu "NAV_MENU_LEFT" as left_menu %}
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
      <a class="navbar-brand waves-effect" href="/home">
          <span class="navbar-brand text-dark">Groupes</span>
      </a>


        <!-- Collapse button -->
        <button class="navbar-toggler alert-dark" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
             <ul class="navbar-nav mx-auto">
            {% for item in left_menu %}
                <li class="{% if item.selected %} active {% endif %} ml-2 nav-item dropdown">
                <a href="#{{ item.name }}" data-toggle="collapse" aria-expanded="false"
                   class="nav-link dropdown-toggle text-dark"
                > <i class="{{ item.icon_class }}" ></i> {{ item.name }}</a>

                {% if item.submenu %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="{{ item.name }}">

                    {% for menu in item.submenu %}

{#                        <a href="{{ menu.get_absolute_url }}" id="submenu"#}
{#                           class="text-white text-center">{{ menu.name }}</a>#}
                            <a href="{% url 'website:products_by_familly' nom=menu.name %}"
                               id="submenu"
                               class="text-center dropdown-item"
                            >{{ menu.name }}</a>

                    {% endfor %}
                    </div>
                    </li>
             {% endif %}
            {% endfor %}
            </ul>

          <!-- Links -->

          <form class="form-inline" action="" method="get">
            <div class="md-form my-0 mr-sm-2">
                <div class="input-group">
                    {{ filter.form.as_p }}
                     <span class="input-group-btn">
                        <button><i class="fas fa-search"></i></button>
                     </span>
                </div>
{#              <input class="form-control mr-sm-2" type="text"#}
{#                     placeholder="Chercher par code article" aria-label="Search"#}
{#                     name=""#}
{#              >#}
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->


    {% if articles %}

 <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

              {% for article in articles %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->

            <div class="card">

              <!--Card image-->
              <div class="view overlay">

               <img  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
               class="img_modal img-fluid img-thumbnail card-img-top "
               data-id="{% url 'website:product_photo' article.id %}"
               />

{#                <img src="{% if article.image %}#}
{#                            {{ article.image.url }}#}
{#                            {% else %}#}
{#                            {% static 'img/nophoto.png' %}#}
{#                            {% endif %}"#}
{#                 class="card-img-top"#}
{#                  alt="">#}

                  <div class="mask rgba-white-slight"></div>

              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                  <a href="{{article.get_absolute_url}} ">
                    <h5 class="grey-text">{{ article.libelle }}</h5>
                  </a>
                <h5>
                  <strong>
                      <p
                         class="dark-grey-text">{{ article.conditionnement }}</p>
                  </strong>
                </h5>

                <h6 class="font-weight-bold blue-text">
                    <label>Prix Achat</label>
                  <strong>{{ article.prix_achat}} €</strong>
                </h6>
                  <h6 class="font-weight-bold blue-text">
                    <label>Prix Vente</label>
                  <strong>{{ article.prix_vente}} €</strong>
                </h6>
                  <h4 class="font-weight-bold blue-text">
                  <form action="{% url 'cart:cart_add' article.id %}" method="post"
                    class="d-flex justify-content-left small">
                     {% csrf_token %}
                            {{ form }}
                      <input aria-label="Search" value="Ajouter au panier" class="form-control btn-success btn-sm" type="submit"/>
{#                              <button type="submit" class="form-control btn btn-success btn-sm">#}
{#                                <i class="fa fa-cart-plus" aria-hidden="true"></i>#}
{#                              </button>#}
                  </form>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->
              {% endfor %}

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

        <!-- Pagination-->
        <div class="pagination">
            <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">début</a>
                <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}">dernière</a>
                <a href="?page={{ page_obj.next_page_number }}">suivante</a>
            {% endif %}
        </span>
        </div>
        {% else %}
            <div class="container text-center mt-5" style="min-height: 50vh">
            <h3>Pas d'articles pour le moment ...</h3>
            </div>
        {% endif %}
    </div>
   <!-- Pagination-->

  </main>
    {% load static %}
     <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <!-- You can alternatively load the minified version -->
      <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                // Modal Photo
                $(".img_modal").each(function () {
                    console.log('okkkkkkkkkkkkkk')
                  $(this).modalForm({formURL: $(this).data('id')});
                });
        });
    </script>

{% endblock content %}


