{% extends "website/base.html" %}

{% load menu_generator %} # menus.py

{% block content %}
    <!--Main layout-->
  <main>
    <div class="container">
 {% get_menu "NAV_MENU_LEFT" as left_menu %}
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Groupes</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
             <ul class="navbar-nav mr-auto">
             <li>Tout</li>
            {% for item in left_menu %}
                <li class="{% if item.selected %} active {% endif %}">
                <a href="#{{ item.name }}" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"> <i class="{{ item.icon_class }}" ></i> {{ item.name }}</a>
                </li>

                {% if item.submenu %}
                    <ul class="collapse list-unstyled" id="{{ item.name }}">
                    {% for menu in item.submenu %}
                        <li class="{% if menu.selected %} active {% endif %}">
                            <a href="{% url 'website:products_by_familly' nom=menu.name %}"
                               id="submenu"
                            >{{ menu.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
             {% endif %}
            {% endfor %}
            </ul>

          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Chercher par code article" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->


    {% if articles %}

 <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

              {% for article in articles %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->

            <div class="card">

              <!--Card image-->
              <div class="view overlay">

               <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
               class="card-img-top"/>

{#                <img src="{% if article.image %}#}
{#                            {{ article.image.url }}#}
{#                            {% else %}#}
{#                            {% static 'img/nophoto.png' %}#}
{#                            {% endif %}"#}
{#                 class="card-img-top"#}
{#                  alt="">#}

                  <div class="mask rgba-white-slight"></div>

              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                  <h5 class="grey-text">{{ article.famille.nom }}</h5>
                <h5>
                  <strong>
                      <a href="{% url 'website:product_detail' pk=article.id %}"
                         class="dark-grey-text">{{ article.libelle }}</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                    <label>Prix de vente</label>
                  <strong>{{ article.prix_vente }} €</strong>
                </h4>
                  <h4 class="font-weight-bold blue-text">
                  <form action="{% url 'cart:cart_add' article.id %}" method="post"
                    class="d-flex justify-content-left">
                    {{ form }}
                    {% csrf_token %}
                    <input aria-label="Search" value="Add to cart" class="form-control" type="submit"/>
                </form>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->
              {% endfor %}

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; début</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">avant &raquo;</a>
        {% endif %}
    </span>
</div>
    {% else %}
        <div class="container">
        <h3>Pas d'articles pour le moment ...</h3>
        </div>
    {% endif %}
    </div>
  </main>

{% endblock content %}
