{% extends "website/base.html" %}

{% block navbar %}
{% include "website/sidenav.html" %}
{% endblock %}

{% block content %}

  <main class=" pt-4 mb-5">
  <h6 class="text-center mb-1">{{ object.libelle }}</h6>
    <div class="container dark-grey-text">

{#        <h4 class="my-4 h4 text-center">{{ object.code_article }}</h4>#}

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Cdt:</span>
          <p>
              {% if object.conditionnement is None%}
                indéfini
              {% else %}
                {{ object.conditionnement }}
              {% endif %}
          </p>
        </div>
        <!--Grid column-->

          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Code article:</span>
          <p>{{ object.code_article }}</p>
        </div>
        <!--Grid column-->

          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Gencod:</span>
          <p>{{ object.gencode }}</p>
        </div>
        <!--Grid column-->

           <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Prix:</span>
          <p>
              {% if request.session.tarif == 1  %} {{ object.prix_achat_1 }}
                  {% elif request.session.tarif == 2 %} {{ object.prix_achat_2 }}
                  {% elif request.session.tarif == 3 %} {{ object.prix_achat_3 }}
                  {% elif request.session.tarif == 4 %} {{ object.prix_achat_4 }}
                  {% else %} Prix non disponible
                {% endif %}€
          </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

                <img class="img-fluid" alt="photo"
                     src="{{ object.get_img }}">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>



            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
          <form action="{% url 'cart:cart_add' object.id %}" method="post"
                class="d-flex justify-content-left">
              {{ form }}
              {% csrf_token %}
              <input aria-label="Search" value="Ajouter au panier" class="form-control btn-success" type="submit"/>
          </form>

              <p class="text-right">
                <a href="{% url 'website:products' %}">
                    <button  id="btn_return" class="btn btn-success">Retourner aux produits</button>
                </a>
              </p>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>



{#      <!--Grid row-->#}
{#      <div class="row wow fadeIn">#}
{##}
{#        <!--Grid column-->#}
{#        <div class="col-lg-4 col-md-12 mb-4">#}
{##}
{#          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">#}
{##}
{#        </div>#}
{#        <!--Grid column-->#}
{##}
{#      </div>#}
{#      <!--Grid row-->#}

    </div>
  </main>

{% endblock content %}
