{% extends "website/base.html" %}


{% block navbar %}
{% include "website/sidenav.html" %}
{% endblock %}

{% block content %}

     {% include "website/modals/_modal.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <!--Main layout-->
  <main>

    <div class="main_container" >
    {% if articles %}


 <section class=" mb-4">


        <!--Grid row-->
        <div class="row wow fadeIn">

              {% for article in articles %}
          <!--Grid column-->
          <div class="articles col-lg-3 col-md-6 mb-4">

            <!--Card-->

            <div class="card large" style="margin: -2%">

              <!--Card image-->
              <div class="view overlay">
                <a href="#" data-id="{% url 'website:product_photo' article.id %}">

                    {% if "/media/img/product/{{ object.code_article }}.png" %}
                        <img class="img_modal img-fluid img-thumbnail card-img-top" alt=""
                        src="/media/img/product/{{ article.code_article }}.png"/>

                    {% elif "/media/img/product/{{ object.code_article }}.jpg" %}
                        <img class="img_modal img-fluid img-thumbnail card-img-top" alt="photo"
                         src="/media/img/product/{{ article.code_article }}.jpg"/>

                    {% elif "/media/img/product/{{ object.code_article }}.jpeg" %}
                        <img class="img_modal img-fluid img-thumbnail card-img-top" alt="photo"
                         src="/media/img/product/{{ article.code_article }}.jpeg"/>

                    {% endif %}

                {% if "/media/img/nophoto.jpg"%}
                    <img class="img-fluid" alt=" no photo"
                         src="/media/img/nophoto.jpg"/>
            {% endif %}


                </a>

{#                <img src="{% if article.image %}#}
{#                            {{ article.image.url }}#}
{#                            {% else %}#}
{#                            {% static 'img/nophoto.png' %}#}
{#                            {% endif %}"#}
{#                 class="card-img-top"#}
{#                  alt="">#}

                  <div class="mask rgba-white-slight"></div>

              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                  <a href="{{article.get_absolute_url}} ">
                    <h5>{{ article.libelle|title }}</h5>
                  </a>

                  <p>{{ article.code_article }}</p>

                  <h5>
                  <strong>
                      <p class="dark-grey-text">
                          {% if article.conditionnement is None%}
                              lot indéfini
                              {% else %}
                               lot de {{ article.conditionnement }}
                          {% endif %}
                      </p>
                  </strong>
                </h5>

{#                <h6 class="font-weight-bold blue-text">#}
{#                    <label>Prix Achat</label>#}
{#                  <strong>{{ article.prix_achat}} €</strong>#}
{#                </h6>#}
                  <h6 class="font-weight-bold blue-text">
{#                    <label>Prix de vente</label>#}
                  <strong>
                          {% if request.session.tarif == 1  %} {{ article.prix_achat_1 }}
                              {% elif request.session.tarif == 2 %} {{ article.prix_achat_2 }}
                              {% elif request.session.tarif == 3 %} {{ article.prix_achat_3 }}
                              {% elif request.session.tarif == 4 %} {{ article.prix_achat_4 }}
                              {% else %} Prix non disponible
                          {% endif %}€

                  </strong>
                </h6>
                  <h4 class="font-weight-bold blue-text">
                  <form action="{% url 'cart:cart_add' article.id %}" method="post"
                    class="d-flex justify-content-left small">
                     {% csrf_token %}
                            {{ form }}
                      <input  value="Ajouter" class="form-control btn btn-success waves-effect waves-light" type="submit"/>
{#                              <button type="submit" class="form-control btn btn-success btn-sm">#}
{#                                <i class="fa fa-cart-plus" aria-hidden="true"></i>#}
{#                              </button>#}
                  </form>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->
              {% endfor %}

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->
        {# Mise en forme de la pagination ici #}

        <!-- Pagination-->
{#        {% if page_obj.has_previous %}#}
{#        <div class="pagination">#}
{#            <span class="step-links">#}
{#                <a href="?page=1">début</a>#}
{#                <a href="?page={{ page_obj.previous_page_number }}">précédente</a>#}
{#        {% endif %}#}
{##}
{#            <span class="current">#}
{#                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}#}
{#            </span>#}
{##}
{#            {% if page_obj.has_next %}#}
{#                <a href="?page={{ page_obj.paginator.num_pages }}">dernière</a>#}
{#                <a href="?page={{ page_obj.next_page_number }}">suivante</a>#}
{#            {% endif %}#}
{#        </span>#}
{#        </div>#}

        {% else %}
            <div class="container text-center mt-5" style="min-height: 80vh">
            <h3>Pas d'articles pour le moment ...</h3>
            </div>
        {% endif %}
    </div>
   <!-- Pagination-->
  {% if is_paginated %}
    <div class="pagination justify-content-end mr-5">
           {% if page_obj.has_previous %}
               <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
           {% endif %}
           Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
           {% if page_obj.has_next %}
              — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
           {% endif %}
    </div>
{% endif %}


  </main>


{% endblock content %}


