 <ul class="sidenav darken-2 sidenav-fixed" id="sidenav-mobile" style="width: 300px">

            <li class="sidenav-header white" style="height:5%">
                <!-- green darken-2 -->
                <div class="row">
                    <div class="col">
                        <!-- <img class="w-100 ml-5 rounded" src="/media/img/logo-berard-distribution.png"/> -->
                    </div>
                    <div class="col">
                        <a href="javascript:void(0);" class="d-lg-none">
                            <i class="fa fa-times right sidenav-close green-text"
                               aria-hidden="true">
                            </i>
                        </a>
                    </div>
                </div>
            </li>

                        <li class="ml-4" >
                  <!-- Searchform-->
                      <form class="" action="" method="get" id="search_form">
                           <div class="search md-form">
<!--                               {{ filter.form.as_p }}-->
                               <input type="text" class="black-text text-center" name="q" id="search"/>
                                    <label class="label-icon" for="search">
                                        <a onclick="submitSearch()" href="javascript:void(0);">
                                            <i id="search_icon" class="material-icons black-text">search</i>
                                        </a>
                                    </label>
                           </div>
                      </form>
                    <!-- Searchform-->
              </li>

            {% for item in liste %}
        <li class="white">
          <ul class="collapsible collapsible-accordion">

            <li>
                <!-- Links -->
                <img class="img-fluid img-thumbnail d-inline-flex ml-2" src="/media/icons/{{ item.name }}.png" style="width:28px; height:28px"/>
                <a class="nav-link d-inline-flex groups_url"
                   href="{% url 'website:products_by_group' group=item.id %}">{{ item.name|title }}
                </a>
                <a href="#{{ item.id }}"
                   class="collapsible-header  waves-grey text-dark nav-link d-inline-flex float-right groups_url">
                    <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i>
                </a>

                <!-- Links -->

                <!-- Sublinks -->
              <div class="collapsible-body">
                <ul>
                    {% for menu in item.submenu %}
                        <li>
                            <a href="{% url 'website:products_by_family' group=item.id family=menu.id %}"
                               id="submenu" class="waves-effect waves-blue groups_url">
                                <i class="material-icons">remove</i>
                                  {{ menu.name|lower }}
                              </a>


                        </li>
                        <!-- Sublinks -->

                        <!-- Divider -->
                            <li><div class="divider"></div></li>
                        <!-- Divider -->

                    {% endfor %} <!-- endForSublinks -->
                     </ul>


            {% endfor %} <!-- endForlinks -->

          </div>
          </li>
          </ul>
          </li>
      </ul>