{% load static %}

{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/hamburgers.css' %}">

<!-- For placeholder -->
<style>


#navbar{
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
    z-index: 1;

}




::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}
#close_icon{
    display:none;
}

    .searchbar{
        display: block!important;
        margin-top: 20px!important;

    }
    .search_icon{
            display:none!important;
    }
    .close_icon{
        display:block!important;
        margin-top: 10px!important;
    }
  li > a {
    height:45px;
    text-align: center;
  }

</style>

  <nav  class="nav-extended" >
    <div id="navbar" class="nav-wrapper white"  >

    <!--Top menu -->

        <!-- Hamburger -->
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
            <i class="fa fa-bars green-text" aria-hidden="true"></i>
        </a>
        <!-- Hamburger -->

        <!-- Hamburger -->
            <!-- NavBar Title -->
            <a id="nav-icon1" href="#" data-target="sidenav-mobile" class="sidenav-trigger right">
                <i class="fa fa-bars green-text" aria-hidden="true"></i>
            </a>
            <!-- NavBar Title -->
        <!-- Hamburger -->


        <div>

                        <h5 class="wrap green-text"> {{ title_pager }} {{ price }} </h5>
                        <a href="{% url 'website:home' %}">
                          <img id="img_navbar" class="rounded w-25 ml-lg-5" src="/media/img/logo-berard-distribution.png" />
                        </a>
                      
            
            <!-- Navbar -->
            
            <ul  class="right hide-on-med-and-down">
                <!-- Basket -->
                <li>
                    <a href="{% url 'cart:cart_detail' %}" title="Panier" class="groups_url">
                      {% if cart.get_total_items > 0 %}
                          <span class="badge green z-depth-1 position-absolute rounded-circle">
                              {{ cart.get_total_items }}
                          </span>
                     {% else %}
                          <span class="badge red z-depth-1  position-absolute rounded-circle">
                          0
                          </span>
                      {% endif %}
                    <i class="fas fa-shopping-cart green-text"></i>
                  </a>
                  <p class="black-text">{{ cart.get_total_price_without_taxes }}€ HT</p>
                </li>
                <!-- Basket -->
                
                <!-- Logout -->
                <li>
                    <a href="{% url 'website:logout' %}" title="Déconnexion" class="groups_url">
                        <span class="clearfix d-none d-sm-inline-block"><i class="fas fa-sign-out-alt red-text"></i></span>
                    </a>
                </li>
                <!-- Logout -->
            </ul>
            <!-- Navbar -->

            <!-- Second Navbar -->
            <ul class=" hide-on-med-and-down mt-3" id="topnavbar-navigation">
              <!-- Home -->
              <li>
                <a href="{% url 'website:home' %}">
                <i class="fas fa-home green-text groups_url" title="Accueil"></i>
                </a>
              </li>
              <!-- Home -->
              <!-- Products -->
                  <li>
                    <a href="{% url 'website:products' %}" class="border-right light-green rounded btn-nav">
                    CATALOGUE
                    </a>
                  </li>
                <!-- Products -->
               <!-- Offers -->
              <li>
                <a href="{% url 'website:offers' %}" class="border-right light-green rounded">
                    OPPORTUNITÉS
                </a>
              </li>
              <!-- Offers -->
                <!-- Favorite -->
                  <li>
                      <a href="{% url 'website:favorites' %}" class="border-right light-green rounded">
                        FAVORIS
                      </a>
                  </li>
                <!-- Favorite -->
                <!-- Order Summary -->
                <li>
                  <a href="{% url 'order:order_summary' %}" class="light-green rounded" >
                    HISTORIQUE
                    </a>
              </li>
              <!-- Order Summary -->
            </ul>
            <!-- Second Navbar --> 

            
            
        </div>
      </div>

      <!--Top menu -->
      <!-- Navbar to sidenav -->
      <ul class="sidenav" id="nav-mobile">
            <li class="sidenav-header white" style="height:5%">
                <div class="row">
                    <div class="col">
                        <a href="javascript:void(0);">
                            <i class="fa fa-times left sidenav-close green-text" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </li>
          <!-- Divider -->
            <li><div class="divider"></div></li>
          <!-- Divider -->
          <!-- Home -->
            <li>
              <a href="{% url 'website:home' %}">
              <i class="fas fa-home green-text groups_url"></i>
                  <p>Accueil</p>
              </a>
            </li>
          <!-- Home -->
          <!-- Products -->
            <li>
              <a href="{% url 'website:products' %}">
              <i class="fab fa-readme green-text groups_url"></i>
                  <p>Catalogue</p>
              </a>
            </li>
          <!-- Products -->
          <!-- Offers -->
                <li>
                  <a href="{% url 'website:offers' %}">
                      <i class="fas fa-star green-text groups_url"></i>
                      <p>Opportunités</p>
                  </a>
                </li>
                <!-- Offers -->
          <!-- Favorite -->
            <li>
                    <a href="{% url 'website:favorites' %}">
                    <i class="fas fa-heart green-text groups_url"></i>
                        <p>Favoris</p>

                    </a>
            </li>
          <!-- Favorite -->
                <li>
                    <a href="{% url 'order:order_summary' %}" title="Historique" >
                        <i class="fa fa-history green-text groups_url"></i>
                        <p>Historique</p>
                    </a>
                </li>
          <!-- Order Summary -->
                <li>
                    <a href="{% url 'website:logout' %}" title="Déconnexion" class="groups_url">
                            <i class="fas fa-sign-out-alt red-text"></i>
                            <p>Déconnexion</p>
                    </a>
                </li>
          <!-- Order Summary -->
      </ul>

      <!-- Navbar to sidenav -->

<!-- SideNav Left Mobile -->

     {% if sidenav %}
      {% include 'website/sidenav.html' %}
     {% endif %}
<!--SideNav Left Mobile-->
  </nav>
<!-- Scripts -->
<script src="{% static 'js/sidenav.js' %}"></script>
<!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- Scripts -->

