{% extends 'base.html' %}
  {% load crispy_forms_tags %}

{% block content %}
    {% include 'helpers/messages.html' %}
    <div class="container">
        <h1  style="margin-bottom: 100px; margin-top: 50px" class="text-center justify-content-center">Espace Connexion</h1>
{#        <form method="POST">#}
{#    {% csrf_token %}#}
{#    {% form form=form %}{% endform %}#}
{#    <button type="submit" name="_submit" class="btn">Submit</button>#}
{#</form>#}
        <div class="form-row">
        <form method="post" class="form-group col-md-3 mx-auto" action="">
            <div class="form-row justify-content-center">
                <div class="input-group mb-3">
                {% csrf_token %}
                {{ form|crispy }}
                </div>
                    <div class="input-group mb-3">
                    <a href="{% url 'website:forgot_password' %}">Mot de passe oublié</a>
                    </div>
                <button type="submit" class="btn btn-success">Connexion</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

