{% extends 'auth/base.html' %}
  {% load crispy_forms_tags %}

{% block content %}
                <a href="{% url 'website:login' %}" class="ml-5">
<!--                <button class="btn btn-blue waves-effect">-->
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="title">Connexion</span>
<!--                </button>-->


                </a>


<div class="container" style="min-height: 70vh">
        <h1 class="text-center mt-3 mb-5">Mot de passe oublié ?</h1>
{#          <p>Entrez votre adresse email svp</p>#}
          <form method="POST" class="mt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Envoyer</button>
          </form>

</div>
{% endblock %}
