{% extends 'website/base.html' %}
{% load static %}
{% block navbar %}
    {% include 'website/sidenav.html' %}
{% endblock %}

{% block content %}
{#    {% include "cart/_modal.html" %}#}
{#    {% include 'cart/modal_mat.html' %}#}
    {% include 'cart/confirm_modal_mat.html' %}
    {% include 'cart/suppress_modal_mat.html' %}
    <main>
    <div class="container" style="min-height: 80vh">
    <div class="table-responsive">

    {% if cart %}
        <div class="row">
            <div class="col ml-2">
                <h4>Votre Panier</h4>
            </div>

            <div class="col mt-5">
                <p>Total: {{ cart.get_total_price}} €</p>
            </div>
        </div>

        <form  name="myform2"
              action="{% url 'cart:update_all_cart' %}" method="post"
        >
            <div class="text-right">
                {{ quantity.quantity }}
                <label for="test"></label>
                <input id="test" type="text"/>
            <a
               onclick="getValue()"
               href="javascript: submitform2()"
               type="submit" class="btn btn-warning">
                MAJ Panier
            </a>
                        {% csrf_token %}
            </div>

        </form>

    <table class="table">
        <thead>
        <tr>

            <th scope="col">Image</th>
{#            <th scope="col">Price</th>#}
            <th scope="col">Infos</th>
            <th scope="col">PU</th>
            <th scope="col">Total</th>
{#            <th scope="col">Quantité</th>#}
        </tr>
        </thead>
        <tbody>

        {% for order_item in cart%}
            {% with product=order_item.product %}

        <tr>
{#            <th scope="row">{{ forloop.counter }}</th>#}
                <td>
                    <a href="{{ product.get_absolute_url }}" class="product_url">
                        <img class="img-fluid img-thumbnail"
                             src="{{ product.get_img }}"
                             style="max-height: 80px;"
                        />
                    </a>
                </td>
            <td>
                <div>{{ order_item.libelle|title }}</div>
                {{ order_item.code_article }}
            </td>
            <td class="num mb-1">
                {{ order_item.prix_achat }}€
                <form name="myform1" action="{% url 'cart:cart_update' product.id %}" method="post">
                        <div class="mr-1">
                            {{ order_item.update_quantity_form.quantity }}
                            {{ order_item.update_quantity_form.update }}
                        </div>
                        {% csrf_token %}
                </form>
            </td>
            <td class="num">
            <div class="mb-2">
                {{ order_item.total_price }}€
            </div>

                <div>
                    <form name="myform" action="{% url 'cart:cart_remove' product.id %}" method="post">
                         {% csrf_token %}
                        <a href="javascript: submitform()"
                           type="submit"
                           id="delete_btn"
                           class="delete-article btn btn-danger"
                           data-id="{% url 'cart:cart_remove' product.id %}">
{#                            <i class="material-icons">delete</i>#}
                            <i class="far fa-trash-alt"></i>
{#                            X#}
                        </a>
                    </form>
                </div>
            </td>
            {% endwith %}
            {% endfor %}

        </tr>


        </tbody>
    </table>
         <p class="text-right">
            <a href="#menu-modal"
               class="btn btn-success waves-effect waves-light modal-trigger"
                >Commander</a>
{#            <button id="send-order" class="btn btn-success">Commander</button>#}
            <a href="{% url 'website:products' %}">
                <button id="btn_return" class="btn btn-success">Retourner aux produits</button>
            </a>
        </p>

    {% else %}
        <div class="container text-center mt-5" style="min-height: 60vh">
            <h4 class="text-left">est vide ...</h4>

        <p class="text-right">

            <a href="{% url 'website:products' %}">
                <button id="btn_return" class="btn btn-success">Retourner aux produits</button>
            </a>
        </p>
        </div>

   {% endif %}
    </div>
    </div>
  </main>

{% endblock %}

{% block extrascripts %}



    <script>
    let widthScreenStart = window.innerWidth;

    if (document.querySelector('#btn_return')) {
        const btn = document.querySelector('#btn_return')
            if (widthScreenStart < 445) {
                btn.innerHTML = 'RETOUR'
            } else {
                btn.innerHTML = 'RETOUR AUX PRODUITS'
            }
        }


    // calculate screen windows in real time and change html
    function resize() {
        let widthScreenReload = window.innerWidth;
        if (document.querySelector('#btn_return')) {
            const btn = document.querySelector('#btn_return')
            if (widthScreenReload < 445) {
            btn.innerHTML = 'RETOUR'
            } else {
            btn.innerHTML = 'RETOUR AUX PRODUITS'
            }
        }

    }
    window.onresize = resize;

    document.addEventListener('DOMContentLoaded', function() {
         //floating
         const elemsBtns = document.querySelectorAll('.fixed-action-btn');
         const floatingBtn = M.FloatingActionButton.init(elemsBtns, {
             direction: 'left',
             hoverEnabled: false
         });



         //Modal to confirm orders
        // confirm modal order
        let getData = async() => {
                    let result =  await fetch("{% url 'cart:send_order' %}", {method: 'GET'});
                    let html = document.getElementById("modal-content").innerHTML += `${await result.text()}`;
                    return html

                };

        getData().then(
            dt => {
                const elemsModal = document.querySelectorAll('.modal');
                const instance = M.Modal.init(elemsModal, {dismissible: true, preventScrolling: true})
                    });



    });

    function submitform() {   document.myform.submit(); }
    function submitform1() {   document.myform1.submit(); }
    function submitform2() {   document.myform2.submit(); }

    {#let deleteConfirm = async (button) => {#}
    {#         let response = await fetch(button.id, {method: 'GET'});#}
    {#         let html = document.getElementById("modal1").innerHTML += `${await response.text()}`;#}
    {#         return html#}
    {#     };#}
    {#    deleteConfirm().then(#}
    {#        rst => {#}
    {#            const elemsModal = document.querySelectorAll('.modal1');#}
    {#            const instance = M.Modal.init(elemsModal, {dismissible: true, preventScrolling: true});#}
    {#            instance.open()#}
    {#        }#}
    {#    );#}

    const call = async (obj) =>{
        console.log(obj)
        let query = await fetch('/cart/update_all_cart')
        return query
    }

    const getValue = () => {

            let quant_val = document.querySelectorAll('.quantity_val')
            let prod_url = document.querySelectorAll('.product_url')
            let ids = []
            prod_url.forEach((val, index) => {
                const quantity = quant_val[index];

                let obj = {'id':0, 'quantity':0}
                obj['id'] = val.href.split('/').slice(-1)[0]
                obj['quantity'] = quantity.value
                ids.push(parseInt(val.href.split('/').slice(-1)[0]) + '/' + parseInt(quantity.value))
            })

        document.querySelector('#hidden_values').value=ids
        console.log(ids)

        {#call(ids).then(#}
        {#    rst => {#}
        {#    console.log(rst)#}
        {#    })#}

        return ids
    }
    const checkChange = (but) => {
        console.log('BUTTon', but)
    }
    let test = document.querySelectorAll('.quantity_val')


    </script>

{% endblock extrascripts %}