{% extends 'website/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'website/sidenav.html' with title_pager=cart.get_total_price price='€' %}
{% endblock %}

{% block content %}
    {% include 'cart/confirm_modal_mat.html' %}
    {% include 'cart/suppress_modal_mat.html' %}
<style>
    .label-icon{
        display: none;
    }
</style>
    <main>
    <div class="container" style="min-height: 80vh">
    <div class="table-responsive">

    {% if cart %}
        <div class="row">
            <div class="col mb-5">
<!--                <h5 class="alert alert-success position-fixed" style="right: 0">-->
<!--                    Total: {{ cart.get_total_price}} €-->
<!--                </h5>-->
                <form  name="myform2"
              action="{% url 'cart:update_all_cart' %}" method="post">
                    <div class="text-left">
                        {{ quantity.quantity }}
                    <button
                       onclick="getValue()"
{#                       href="javascript: submitform2()"#}
                       type="submit" class="btn btn-warning"
                       id="basket_update">
                        MAJ Panier
                    </button>
                                {% csrf_token %}
                    </div>

                </form>


            </div>




        </div>



    <table class="table">
        <thead>
        <tr>

            <th scope="col">Image</th>
{#            <th scope="col">Price</th>#}
            <th scope="col">Infos</th>
            <th scope="col">PU</th>
            <th scope="col">Total</th>
{#            <th scope="col">Quantité</th>#}
        </tr>
        </thead>
        <tbody>

        {% for order_item in cart%}
            {% with product=order_item.product %}

        <tr>
{#            <th scope="row">{{ forloop.counter }}</th>#}
                <td>
                    <a href="{{ product.get_absolute_url }}" class="product_url">
                        <img class="img-fluid img-thumbnail"
                             src="{{ product.get_img }}"
                             style="max-height: 80px;"
                        />
                    </a>
                </td>
            <td>
                <div>{{ order_item.libelle|title }}</div>
                {{ order_item.code_article }}
            </td>
            <td class="num mb-1">
                {{ order_item.prix_achat }}€
                <form name="myform1" action="{% url 'cart:cart_update' product.id %}" method="post">
                        <div class="mr-1">
                            {{ order_item.update_quantity_form.quantity }}
                            {{ order_item.update_quantity_form.update }}
                        </div>
                        {% csrf_token %}
                </form>
            </td>
            <td class="num">
            <div class="mb-2">
                {{ order_item.total_price }}€
            </div>

                <div>
                    <form name="myform" action="{% url 'cart:cart_remove' product.id %}" method="post">
                         {% csrf_token %}
                        <button
                           type="submit"
                           id="delete_btn"
                           class="delete-article btn btn-danger"
                           data-id="{% url 'cart:cart_remove' product.id %}">
{#                            <i class="material-icons">delete</i>#}
                            <i class="far fa-trash-alt"></i>
{#                            X#}
                        </button>
                    </form>
                </div>
            </td>
            {% endwith %}
            {% endfor %}

        </tr>


        </tbody>
    </table>
         <div class="text-right">
            <h5 >Total: {{ cart.get_total_price }} €</h5>
            <a href="#menu-modal"
               class="btn btn-success waves-effect modal-trigger"
                >Commander</a>
{#            <button id="send-order" class="btn btn-success">Commander</button>#}
            <a href="{% url 'website:products' %}">
                <button  class="btn_return btn btn-success">Retourner aux produits</button>
            </a>
        </p>

    {% else %}
        <div class="container text-center mt-5" style="min-height: 60vh">
            <h4 class="text-left mb-5">Votre panier est vide ...</h4>

        <p class="text-right">

            <a href="{% url 'website:products' %}">
                <button  class="btn_return btn btn-success">Retourner aux produits</button>
            </a>
        </p>
        </div>

   {% endif %}
    </div>
    </div>
  </main>

{% endblock %}

{% block extrascripts %}



    <script>
    let widthScreenStart = window.innerWidth;

    if (document.querySelector('.btn_return')
        && document.querySelector('#basket_update')) {
        const btn = document.querySelector('.btn_return')
        const btn2 = document.querySelector('#basket_update')
            if (widthScreenStart < 445) {
                btn.innerHTML = 'RETOUR'
                btn2.innerHTML = 'MAJ'
            } else if(widthScreenStart > 445 && widthScreenStart < 675) {
                btn2.innerHTML = 'MAJ'
            } else {
                btn.innerHTML = 'RETOUR AUX PRODUITS'
                btn2.innerHTML = 'MAJ PANIER'
            }
        }


    // calculate screen windows in real time and change html
    function resize() {
        let widthScreenReload = window.innerWidth;
        if (document.querySelector('.btn_return')
            && document.querySelector('#basket_update')) {
            const btn = document.querySelector('.btn_return')
            const btn2 = document.querySelector('#basket_update')
            if (widthScreenReload < 445) {
                btn.innerHTML = 'RETOUR'
                btn2.innerHTML = 'MAJ'
            } else if(widthScreenReload > 445 && widthScreenReload < 675) {
                btn2.innerHTML = 'MAJ'
            }else {
                btn.innerHTML = 'RETOUR AUX PRODUITS'
                btn2.innerHTML = 'MAJ PANIER'
            }
        }

    }
    window.onresize = resize;

    document.addEventListener('DOMContentLoaded', function() {
         //floating
         const elemsBtns = document.querySelectorAll('.fixed-action-btn');
         const floatingBtn = M.FloatingActionButton.init(elemsBtns, {
             direction: 'left',
             hoverEnabled: false
         });



         //Modal to confirm orders
        // confirm modal order
        let getData = async() => {
                    let result =  await fetch("{% url 'cart:send_order' %}", {method: 'GET'});
                    let html = document.getElementById("modal-content").innerHTML += `${await result.text()}`;
                    return html

                };

        getData().then(
            dt => {
                const elemsModal = document.querySelectorAll('.modal');
                const instance = M.Modal.init(elemsModal, {dismissible: true, preventScrolling: true})
                    });



    });

    function submitform() {   document.myform.submit(); }
    function submitform1() {   document.myform1.submit(); }
    function submitform2() {   document.myform2.submit(); }


    // to get values from all the basket and use it in django views
    const getValue = () => {

            let quant_val = document.querySelectorAll('.quantity_val')
            let prod_url = document.querySelectorAll('.product_url')
            let ids = []
            prod_url.forEach((val, index) => {
                const quantity = quant_val[index];

                let obj = {'id':0, 'quantity':0}
                obj['id'] = val.href.split('/').slice(-1)[0]
                obj['quantity'] = quantity.value
                ids.push(parseInt(val.href.split('/').slice(-1)[0]) + '/' + parseInt(quantity.value))
            })

        document.querySelector('#hidden_values').value=ids

    }



    </script>

{% endblock extrascripts %}