{% extends 'website/base.html' %}
{% load static %}
{% block navbar %}
    {% include 'website/sidenav.html' %}
{% endblock %}

{% block content %}
{#    {% include "cart/_modal.html" %}#}
{#    {% include 'cart/modal_mat.html' %}#}
    {% include 'cart/confirm_modal_mat.html' %}
    {% include 'cart/suppress_modal_mat.html' %}
    <main>
    <div class="container" style="min-height: 80vh">
    <div class="table-responsive">
    <h2 class="text-center mb-5">Votre Panier</h2>
    <!-- {% if cart %} -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
{#            <th scope="col">Price</th>#}
            <th scope="col">Libellé</th>
            <th scope="col">Prix Unitaire</th>
            <th scope="col">Total</th>
            <th scope="col">Quantité</th>
        </tr>
        </thead>
        <tbody>

        {% for order_item in cart%}
            {% with product=order_item.product %}

        <tr>
{#            <th scope="row">{{ forloop.counter }}</th>#}
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img class="img-fluid img-thumbnail w-60"
                             src="/media/img/nophoto.jpg"/>
                    </a>
                </td>
            <td>{{ order_item.libelle|title }}</td>
            <td class="num">
                <div class="mb-5">{{ order_item.prix_achat }}€</div>
                <div>
                    <form name="myform" action="{% url 'cart:cart_remove' product.id %}" method="post">
                         {% csrf_token %}
                        <a href="javascript: submitform()"
                                type="submit"
                                id="delete_btn"
                                 class="delete-article btn btn-danger"
                                 data-id="{% url 'cart:cart_remove' product.id %}">
                            <i class="material-icons">delete</i>
                        </a>
                    </form>
{#                    <a#}
{#                        href="#menu-modal1"#}
{#                        class="btn btn-danger waves-effect waves-light modal-trigger"#}
{#                             id="{% url 'cart:cart_remove' product.id %}"#}
{#                             onclick="deleteConfirm(this)"#}
{#                    >#}
{#                        <i class="far fa-trash-alt"></i>#}
{#                    </a>#}
                </div>
            </td>
            <td class="num">{{ order_item.total_price }}€</td>
                <td>
                    <form name="myform1" action="{% url 'cart:cart_update' product.id %}" method="post">
                        <div class="mr-1">
                            {{ order_item.update_quantity_form.quantity }}
                            {{ order_item.update_quantity_form.update }}
                        </div>

                            <a      href="javascript: submitform1()"
                                    type="submit" class="btn btn-warning">
                                <i class="material-icons">build</i>
                            </a>

                        {% csrf_token %}

                    </form>

            </td>


            {% endwith %}
            {% endfor %}

        </tr>

        <tr class="total">
            <td>Total</td>
            <td colspan='1'></td>
            <td class="num">{{ cart.get_total_price}}€</td>
        </tr>
        </tbody>
    </table>
         <p class="text-right">
            <a href="#menu-modal"
               class="btn btn-success waves-effect waves-light modal-trigger"
                >Commander</a>
{#            <button id="send-order" class="btn btn-success">Commander</button>#}
            <a href="{% url 'website:products' %}">
                <button id="btn_return" class="btn btn-success">Retourner aux produits</button>
            </a>
        </p>

    <!-- {% else %} -->
        <div class="container text-center mt-5" style="min-height: 60vh">
            <h4 class="mb-5">est vide ...</h4>

        <p class="text-right">

            <a href="{% url 'website:products' %}">
                <button id="btn_return" class="btn btn-success">Retourner aux produits</button>
            </a>
        </p>
        </div>

    <!-- {% endif %} -->
    </div>
    </div>
  </main>

{% endblock %}

{% block extrascripts %}



    <script>
    let widthScreenStart = window.innerWidth;

    if (document.querySelector('#btn_return')) {
        const btn = document.querySelector('#btn_return')
            if (widthScreenStart < 445) {
                btn.innerHTML = 'RETOUR'
            } else {
                btn.innerHTML = 'RETOUR AUX PRODUITS'
            }
        }


    // calculate screen windows in real time and change html
    function resize() {
        let widthScreenReload = window.innerWidth;
        if (document.querySelector('#btn_return')) {
            const btn = document.querySelector('#btn_return')
            if (widthScreenReload < 445) {
            btn.innerHTML = 'RETOUR'
            } else {
            btn.innerHTML = 'RETOUR AUX PRODUITS'
            }
        }

    }
    window.onresize = resize;

    document.addEventListener('DOMContentLoaded', function() {
         //floating
         const elemsBtns = document.querySelectorAll('.fixed-action-btn');
         const floatingBtn = M.FloatingActionButton.init(elemsBtns, {
             direction: 'left',
             hoverEnabled: false
         });



         //Modal to confirm orders
        // confirm modal order
        let getData = async() => {
                    let result =  await fetch("{% url 'cart:send_order' %}", {method: 'GET'});
                    let html = document.getElementById("modal-content").innerHTML += `${await result.text()}`;
                    return html

                };

        getData().then(
            dt => {
                const elemsModal = document.querySelectorAll('.modal');
                const instance = M.Modal.init(elemsModal, {dismissible: true, preventScrolling: true})
                    });



    });

    function submitform() {   document.myform.submit(); }
    function submitform1() {   document.myform1.submit(); }

    {#let deleteConfirm = async (button) => {#}
    {#         let response = await fetch(button.id, {method: 'GET'});#}
    {#         let html = document.getElementById("modal1").innerHTML += `${await response.text()}`;#}
    {#         return html#}
    {#     };#}
    {#    deleteConfirm().then(#}
    {#        rst => {#}
    {#            const elemsModal = document.querySelectorAll('.modal1');#}
    {#            const instance = M.Modal.init(elemsModal, {dismissible: true, preventScrolling: true});#}
    {#            instance.open()#}
    {#        }#}
    {#    );#}





    </script>

{% endblock extrascripts %}