/berard_site
website/__pycache__
berard/__pycache__
website/migrations
/test
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
/.idea
/.vscode
test
tests
order/migrations
resources/export
resources/import
/static_root