/berard_site
website/__pycache__
berard/__pycache__
website/migrations
/test
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
/.idea
/.vscode
test
tests
order/migrations
website/migrations
cart/migrations
resources/export
/static_root