amqp==2.6.0
anyjson==0.3.3
appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.2.7
astroid==2.4.2
beautifulsoup4==4.9.1
billiard==3.6.3.0
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.1
Django==3.0.5
django-advanced-filters==1.1.1
django-apscheduler==0.3.0
django-bootstrap-modal-forms==1.5.0
django-bootstrap4==2.0.0
django-braces==1.14.0
django-celery-beat==2.0.0
django-cors-headers==3.2.1
django-crispy-forms==1.9.0
django-env==0.2.1
django-environ==0.4.5
django-environ-plus==0.0.3
django-filter==2.2.0
django-import-export==2.1.0
django-material==0.5.1
django-material-admin==1.7.3
django-menu-generator==1.0.4
django-modeltranslation==0.15
django-shopping-cart==0.1
django-timezone-field==4.0
django-widget-tweaks==1.4.8
dnspython==1.16.0
environ==1.0
et-xmlfile==1.0.1
eventlet==0.25.2
factory-boy==2.12.0
Faker==4.1.0
filelock==3.0.12
future==0.18.2
gevent==20.6.2
greenlet==0.4.16
idna==2.10
importlib-metadata==1.6.0
isort==4.3.21
jdcal==1.4.1
kombu==4.6.11
lazy-object-proxy==1.4.3
lml==0.0.9
MarkupPy==1.14
mccabe==0.6.1
monotonic==1.5
numpy==1.18.5
odfpy==1.4.1
openpyxl==3.0.3
Pillow==7.1.1
psycopg2==2.8.5
pycparser==2.20
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
pylint==2.5.3
python-crontab==2.5.1
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
PyYAML==5.3.1
rabbitmq==0.2.0
redis==3.5.3
requests==2.24.0
schedule==0.6.0
simplejson==3.17.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
tablib==1.1.0
text-unidecode==1.3
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.9
vine==1.3.0
virtualenv==20.0.25
whitenoise==5.0.1
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
