amqp==2.6.0
aniso8601==7.0.0
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.2
Babel==2.8.0
beautifulsoup4==4.9.1
billiard==3.6.3.0
boto3==1.14.17
botocore==1.17.17
braintree==4.2.0
cachetools==4.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cssselect2==0.3.0
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.1
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==2.2
django-admin-material==0.1.0
django-advanced-filters==1.1.1
django-appconf==1.0.4
django-bootstrap-modal-forms==1.5.0
django-bootstrap4==2.0.0
django-braces==1.14.0
django-cache-url==3.1.2
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-cors-headers==3.2.1
django-countries==6.1.2
django-crispy-forms==1.9.0
django-env==0.2.1
django-environ==0.4.5
django-environ-plus==0.0.3
django-extensions==3.0.3
django-extra-views==0.11.0
django-filter==2.2.0
django-haystack==2.8.1
django-import-export==2.1.0
django-js-asset==1.2.2
django-material==0.5.1
django-material-admin==1.7.3
django-measurement==3.2.3
django-menu-generator==1.0.4
django-modeltranslation==0.15
django-mptt==0.11.0
django-oscar==2.0.4
django-oscar-api==2.0.2
django-phonenumber-field==2.0.1
django-prices==2.2.0
django-prices-openexchangerates==1.1.0
django-prices-vatlayer==1.1.0
django-render-block==0.6
django-shopping-cart==0.1
django-storages==1.9.1
django-tables2==1.21.2
django-templated-email==2.3.0
django-timezone-field==4.0
django-treebeard==4.3.1
django-versatileimagefield==2.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
dnspython==1.16.0
docutils==0.15.2
draftjs-sanitizer==1.0.0
enmerkar==0.7.1
environ==1.0
et-xmlfile==1.0.1
eventlet==0.25.2
factory-boy==2.12.0
Faker==4.1.0
filelock==3.0.12
flower==0.9.5
freezegun==0.3.15
future==0.18.2
gevent==20.6.2
google-api-core==1.21.0
google-auth==1.18.0
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-i18n-address==2.3.5
google-measurement-protocol==1.0.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
graphene==2.1.8
graphene-django==2.11.0
graphene-federation==0.1.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==0.4.16
html-to-draftjs==1.0.1
html5lib==1.1
humanize==2.4.1
idna==2.10
importlib-metadata==1.6.0
isort==4.3.21
jaeger-client==4.3.0
jdcal==1.4.1
jmespath==0.10.0
jsonfield==3.1.0
kombu==4.6.11
lazy-object-proxy==1.4.3
lml==0.0.9
lxml==4.5.1
Markdown==3.2.2
MarkupPy==1.14
maxminddb==1.5.4
maxminddb-geolite2==2018.703
mccabe==0.6.1
measurement==3.2.0
monotonic==1.5
mpmath==1.1.0
mysqlclient==2.0.1
numpy==1.18.5
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.3
opentracing==2.3.0
pandas==1.1.0
petl==1.3.0
phonenumbers==8.12.6
phonenumberslite==8.12.6
Pillow==7.1.1
prices==1.0.0
prometheus-client==0.8.0
promise==2.3
protobuf==3.12.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
purl==1.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser==2.20
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
PyJWT==1.7.1
pylint==2.5.3
Pyphen==0.9.5
python-crontab==2.5.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-json-logger==0.1.11
python-magic==0.4.18
python-magic-bin==0.4.14
pytimeparse==1.1.8
pytz==2019.3
PyYAML==5.3.1
rabbitmq==0.2.0
razorpay==1.2.0
redis==3.5.3
reportlab==3.5.46
requests==2.24.0
rsa==4.6
Rx==1.6.1
s3transfer==0.3.3
schedule==0.6.0
sentry-sdk==0.16.0
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.14.0
sorl-thumbnail==12.6.3
soupsieve==2.0.1
sqlparse==0.3.1
stripe==2.48.0
sympy==1.6.1
tablib==1.1.0
text-unidecode==1.3
threadloop==1.0.2
thrift==0.13.0
tinycss2==1.0.2
toml==0.10.1
tornado==6.0.4
tqdm==4.47.0
typed-ast==1.4.1
typing==3.7.4.1
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.9
vine==1.3.0
virtualenv==20.0.25
WeasyPrint==51
webencodings==0.5.1
whitenoise==5.0.1
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
