
{% with total_items=cart|length %}
    {% if cart|length > 0 %}
        <a href="{% url 'cart:cart_detail' %}"
           class="btn-floating btn-large waves-effect green waves-light hide-on-large-only btn_cart">
            <i class="material-icons">shopping_cart</i>
        </a>
    {% else %}
        <a href="{% url 'cart:cart_detail' %}"
           class="btn-floating btn-large waves-effect waves-light red hide-on-large-only btn_cart">
            <i class="material-icons">shopping_cart</i>
        </a>
    {% endif %}
{% endwith %}

<style>
    .btn_cart{
        position: fixed;
        right: 10%;
        bottom: 10%;
        z-index: 1;
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 green;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

</style>