{% for message in messages %}
    <div id="msg" class="alert {{ message.tags }} alert-dismissible" role="alert">
<!--        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--{#        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}-->
<!--{#            <span aria-hidden="true">&times;</span>#}-->
<!--{#        </button>#}-->
        <div id="msg_text">
            <strong>{{ message | safe }}</strong>
        </div>
    </div>
{% endfor %}
{% load static %}
<script type="text/javascript">
    let msg = document.getElementById('msg')
    setTimeout(() => {
        msg.remove();
}, 5000);
</script>
<style>
    #msg{
        position: absolute;
        /*bottom: 10px;*/
        top: 50px;
        width: 100%;
        z-index: 1;

}
    #msg_text{
        text-align: center;
        font-size: 16px;
    }
</style>
