{% load widget_tweaks %}
<style>
    /* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
    @-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
     #menu-modal{
        height:40%
    }
}
    @media only screen and (min-width: 700px){
      #img-modal {
        width: 40%;
      }
      #menu-modal{
          height:40%
      }
    }
#img-modal{
    width: 50%;
}
#btn {
      position: absolute;
      top: 5%;
      right: 5%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border-radius: 10px;
}
</style>

<!--        <img id="img-modal" class="modal img-fluid"  src=""/>-->
<div class="modal" id="menu-modal">

  
  
          <img id="img-modal" class="modal-content img-fluid m-auto"  src=""/>
  
             <i id="btn" class="modal-close material-icons  red-text ">close</i>
  
  
  
  </div>


<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', () => {-->
<!--        // 1. Create the button-->
<!--        let button = document.createElement("a");-->
<!--        button.innerHTML = '<i class="material-icons close_modal red-text">close</i>'-->
<!--        button.className = "modal-close  btn-flat close_modal_picture";-->

<!--        // 2. Append somewhere-->
<!--        let modal = document.querySelector("#img-modal");-->
<!--        console.log(modal)-->
<!--        modal.appendChild(button);-->

<!--        // 3. Add event handler-->
<!--        button.addEventListener ("click", function() {-->
<!--          alert("did something");-->
<!--        });-->
<!--    })-->

<!--</script>-->
