{% load widget_tweaks %}
<style>
    /* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
    @-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */

#btn {
      position: absolute;
      top: 5%;
      right: 25%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border-radius: 10px;
}
</style>

<div class="modal" id="menu-modal" style="width: 100%;max-width: 100%;height: auto;">
    <img id="img-modal" class="modal-content img-fluid m-auto" src="" style=""/>
    <i id="btn" class="modal-close material-icons  red-text ">close</i>
</div>


