{% extends "website/base.html" %}

{% block navbar %}
{% include "website/sidenav.html" %}
{% endblock %}

{% load static %}

{% block content %}
{% include 'helpers/cart_button.html' %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/hide_sidenav.css' %}">
<main class="mt-5 pt-4" style="min-height: 83vh">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.get_img }}" class="img-fluid" alt="image">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>


            <p class="lead font-weight-bold">{{ object.libelle }}</p class="lead font-weight-bold">

<!--            <p>{{ object.description }}</p>-->

            <form action="{% url 'cart:cart_add' product_id=article.id %}" method="post"
                class="d-flex justify-content-left">
              {{ form }}
              {% csrf_token %}
              <button id="add_basket" class="form-control btn-success  btn_send" type="submit">
                  Ajouter au panier
              </button>
          </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
        <h4 class="my-4 h4 text-center">Informations additionnelles</h4>
      <div class="row d-flex justify-content-center wow fadeIn">
        <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Prix:</span>
         <p class="badge badge-info">
              {% if request.session.tarif == 1  %} {{ object.prix_achat_1 }}
                  {% elif request.session.tarif == 2 %} {{ object.prix_achat_2 }}
                  {% elif request.session.tarif == 3 %} {{ object.prix_achat_3 }}
                  {% elif request.session.tarif == 4 %} {{ object.prix_achat_4 }}
                  {% else %} Prix non disponible
                {% endif %}€
         </span>
        </div>
        <!--Grid column-->
           <!--Grid column-->
          <div class="col-md-6 text-center">
            <span>Gencod:</span>
          <p>{{ object.gencode }}</p>
        </div>
         <!--Grid column-->
         <!--Grid column-->
          <div class="col-md-6 text-center">
            <span>Code article:</span>
            <p>{{ object.code_article }}</p>
          </div>
         <!--Grid column-->
          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Cdt:</span>
          <p>
              {% if object.conditionnement is None%}
                indéfini
              {% else %}
                {{ object.conditionnement }}
              {% endif %}
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}

{% block extrascripts %}
<script src="{% static 'js/hiddenUrl.js'%}"></script>
{% endblock extrascripts %}