{% extends "website/base.html" %}

{% block navbar %}
{% include "website/topnavbar.html" %}
{% endblock %}

{% load static %}

{% block content %}
{% include 'helpers/cart_button.html' %}
<main class="container mx-auto mt-5" style="min-height: 83vh;">
      <!--Grid row-->
      <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
              <img src="{{ object.get_img }}" class="img-fluid" alt="image">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <p class="lead font-weight-bold">{{ object.libelle }}</p>
                <!--Grid column-->
            <div class="row">
              <h6>
                <span class="badge badge-info text-center">
                  {% load website_extras %}
                  {{ request.session.tarif|without_taxes:article }}€
                </span>
              </h6>
            </div>
            <!--Grid column-->
            </div>
            <!--Grid column-->
          </div>
        <!-- Row -->


        <div class="mx-auto w-25">
            {% if user.is_authenticated %}
            <form action="{% url 'cart:cart_add' product_id=article.id %}" method="post"
                    class="d-flex justify-content-left ">
                  {{ form }}
                  {% csrf_token %}
                  <button id="add_basket" class="shadow-lg form-control btn-success btn_send" type="submit">
                      <i class="fas fa-cart-plus"></i>
                  </button>
              </form>
            {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        <a href="{% url 'website:login' %}">
                            Connectez vous
                        </a>
                    </div>
            {% endif %}
        </div>



      <hr>

      <!--Grid row-->
        <h4 class="my-4 h4 text-center">Informations additionnelles</h4>
      <div class="row d-flex justify-content-center wow fadeIn">
        <!--Hidden Group-->
        <input type="hidden" class="hidden_groups" value="{{ article.groupe }}"/>
        <!--Hidden Group-->
        <!--Grid column-->
          <div class="col-md-6 text-center">
            <span>Gencod:</span>
          <p>{{ object.gencode }}</p>
        </div>
         <!--Grid column-->
         <!--Grid column-->
          <div class="col-md-6 text-center">
            <span>Code article:</span>
            <p>{{ object.code_article }}</p>
          </div>
         <!--Grid column-->
          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Cdt:</span>
          <p class='product_multiples'>
              {% if object.conditionnement is None%}
                indéfini
              {% else %}
                {{ object.conditionnement }}
              {% endif %}
          </p>
        </div>
        <!--Grid column-->
         <!--Grid column-->
         <div class="col-md-6 text-center">
          <span>TVA:</span>
        <p class='product_multiples'>
            {{ article.format_VAT }}%
        </p>
      </div>
      <!--Grid column-->
      </div>
      <!--Grid row-->
  </main>

{% endblock content %}

{% block extrascripts %}

{% endblock extrascripts %}