{% extends "website/base.html" %}

{% block navbar %}
{% include "website/topnavbar.html" %}
{% endblock %}

{% load static %}

{% block content %}
{% include 'helpers/cart_button.html' %}
<style>
  #nav-icon1{
    display: none;
  }
  </style>
<main class="" style="min-height: 85vh">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.get_img }}" class="img-fluid" alt="image">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4 row">

            <div class="col">
              <p class="lead font-weight-bold">{{ object.libelle }}</p class="lead font-weight-bold">
            </div>

            <!--Grid column-->
            <div class="col">
              <h6>
                <span class="badge badge-info text-center">
                  {% load website_extras %}
                  {{ request.session.tarif|without_taxes:article }}€
                </span>
              </h6>
            </div>  
            <!--Grid column-->

            <form action="{% url 'cart:cart_add' product_id=article.id %}" method="post"
                class="d-flex justify-content-left">
              {{ form }}
              {% csrf_token %}
              <button id="add_basket" class="form-control btn-success  btn_send" type="submit">
                  Ajouter au panier
              </button>
          </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
        <h4 class="my-4 h4 text-center">Informations additionnelles</h4>
      <div class="row d-flex justify-content-center wow fadeIn">
        <!--Hidden Group-->
        <input type="hidden" class="hidden_groups" value="{{ article.groupe }}"/>
        <!--Hidden Group-->
        <!--Grid column-->
          <div class="col-md-6 text-center">
            <span>Gencod:</span>
          <p>{{ object.gencode }}</p>
        </div>
         <!--Grid column-->
         <!--Grid column-->
          <div class="col-md-6 text-center">
            <span>Code article:</span>
            <p>{{ object.code_article }}</p>
          </div>
         <!--Grid column-->
          <!--Grid column-->
        <div class="col-md-6 text-center">
            <span>Cdt:</span>
          <p class='product_multiples'>
              {% if object.conditionnement is None%}
                indéfini
              {% else %}
                {{ object.conditionnement }}
              {% endif %}
          </p>
        </div>
        <!--Grid column-->
         <!--Grid column-->
         <div class="col-md-6 text-center">
          <span>TVA:</span>
        <p class='product_multiples'>
            {{ article.format_VAT }}%
        </p>
      </div>
      <!--Grid column-->
      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}

{% block extrascripts %}

{% endblock extrascripts %}