{% extends "website/base.html" %}


{% block navbar %}
{% include "website/topnavbar.html" with sidenav=True %}
{% endblock %}

{% block content %}
    {% include 'website/modals/display_picture.html' %}
    {% include 'helpers/cart_button.html' %}
    {% load static %}
<style>
    @media screen and (min-width: 992px) {
       #img_navbar{
        margin-left: 310px!important;
    }
    }
 
</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div style="margin-top: 70px" id="main-content">
    <!--Main layout-->
  <main>

    <div class="main_container" style="min-height: 80vh;">

    {% if articles %}
 <section class=" mb-4">


        <!--Grid row-->
        <div class="row justify-content-center wow fadeIn ">
           <!-- <div class="row wow fadeIn no-gutters"> -->
              {% for article in articles %}
          <!--Grid column-->
          <div class="articles col-lg-2 col-md-3  col-sm-6 mb-3">

            <!--Card-->

            <div class="card medium" style="margin: -2%">
            
              <!--Card content-->
              <div class="card-body text-center">

                <!--Code & title-->
                <a href="{{article.get_absolute_url}}">
                  <h6>{{ article.code_article }}</h6>
                  <p style="font-size: 12px">{{ article.libelle|title }}</p>
                </a>
                <!--Code & title-->

                <!--Img-->  
                <a  href="#menu-modal" class="modal-trigger pic_button" id="{{ article.get_img }}"  >
                        <img class="rounded img_modal img-fluid  w-50 ml-auto mr-auto card-img-top"
                             alt="photo" 
                        src="{{ article.get_img }}"/>
                </a>
                <!--Img-->

                <!--Gencod-->
                  <a href="{{article.get_absolute_url}}">
                    <p style="font-size: 12px">{{ article.gencode }}</p>
                  </a>
                <!--Gencod-->

                <!--Form-->  
                  <form action="{% url 'cart:cart_add' product_id=article.id %}" method="post"
                    class="d-flex justify-content-left small" style="margin-bottom: -20px">
                     {% csrf_token %}
                     <div class="row">
                       <div class="col">
                        Qté: {{ form }}
                       </div>
                       <div class="col">
                        <button class="form-control btn btn-success btn_send" type="submit">
                          <i class="fas fa-cart-plus"></i>
                      </button>
                       </div>
                     </div>
                  </form>
                <!--Form-->    
              <div class="row d-flex justify-content-center">
                <!--Hidden Group-->
                <input type="hidden" class="hidden_groups" value="{{ article.groupe }}"/>
                <!--Hidden Group-->
                <div class="col">
                  <h6>
                    <label>UV: </label>
                    <strong class='product_multiples' >
                      {% if article.conditionnement is None%}
                       /
                      {% else %}
                      {{ article.conditionnement }}
                  {% endif %}
                    </strong>
                </h6>
                </div>
                <!--Col-->
                <div class="col">
                  <div>
                  <h6>
                    <span class="badge badge-info text-center">
                      {% load website_extras %}
                        {{ request.session.tarif|without_taxes:article }}€
                    </span>
                    </h6>
                  </div>
                    <div>
                      <label>TVA {{ article.format_VAT }} %</label>
                    </div>
                </div>
              
              </div>
              <!--Col-->
              </div>
              <!--Row-->
              
                
              
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->
              {% endfor %}

        </div>
        <!--Grid row-->
      </section>
      <!--Section: Products v.3-->
      
        {% else %}
            <div class="container text-center" style="min-height: 80vh; margin-top: 15%">
            <h4>Pas d'articles pour le moment ...</h4>
            </div>
        {% endif %}
    </div>
   <!-- Pagination-->
  {% if is_paginated %}
    <div class="pagination justify-content-end mr-5">
           {% if page_obj.has_previous %}
               <a href="?page={{ page_obj.previous_page_number }}">
               <button class="btn btn-success waves-effect">
                   <i class="material-icons">chevron_left</i>
               </button>
               </a>
           {% endif %}
            <p class="mt-3">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</p>
           {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">
                <button class="btn btn-success waves-effect">
                   <i class="material-icons">chevron_right</i>
               </button>
           </a>
           {% endif %}
    </div>
{% endif %}
  </main>
</div>

{% endblock content %}

{% block extrascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const nav_top = document.querySelector('#topnavbar-navigation')
      if(nav_top) nav_top.classList.add('right')

    })
  </script>  
<script src="{% static 'js/modalPicture.js'%}"></script>
<script src="{% static 'js/scroll_position_send_to_cart.js'%}"></script>
{% endblock extrascripts %}