{% extends 'website/base.html' %}

{% load static %}

{% block navbar %}
{% include "website/topnavbar.html" with title_pager='Résumé' %}
{% endblock %}

{% block content %}
    <style>
    #nav-icon1{
      display: none;
    }
    </style>
    <main style="min-height: 83vh; margin-top: 8%">
    <div class="container">
    <div class="table-responsive text-center" >
    <h4 class="text-center mb-5" id="title_page" >{{ object.date }}</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produits</th>
            <th scope="col">PU TTC</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix total TTC</th>
        </tr>
        </thead>
        <tbody>


    {% for item in object.get_articles %}
            <tr>
                <td id="name_article">{{ item.article|title  }}</td>
                <td>{{ item.prix }}€</td>
                <td>{{ item.quantite}}</td>
                <td>{{ item.get_cost}}€</td>
            </tr>
     {% endfor %}
        </tbody>
    </table>

    <div class="text-right mr-3">
        <p>{{ object.get_total_cost_with_taxes }}€ TTC <span>dont taxes: {{ object.get_total_taxes }}€</span></p>
        <p>HT: {{ object.get_total_cost_without_taxes }}€</p>
        <div class="row">
            <div class="col">
                <form action="{% url 'cart:order_summary_to_cart' object.id %}" method="post"
                      class="small mb-5">
                    {% csrf_token %}
                    <button class="form-control btn btn-success w-50" type="submit">
                        <i class="fas fa-cart-plus"></i>
                    </button>
                </form>
            </div>
            <div class="col">
                <form action="{% url 'order:generate_pdf' object.id %}" method="post"
                      class="small mb-5">
                    {% csrf_token %}
                    <button class="form-control btn w-50">
                    <i class="fas fa-file-pdf"></i>
                </button>
                </form>
            </div>
        </div>
    </div>
    </div>

    </div>
  </main>
{% endblock %}

