{% extends 'website/base.html' %}

{% load static %}

{% block navbar %}
    {% include 'website/sidenav.html' with title_pager="Historique"  %}
{% endblock %}


{% block content %}
<style>
    .label-icon{
        display: none;
    }
</style>
    <main>
    <div class="container" >
    <div class="table-responsive mt-2" style="min-height: 83vh">
    {% if histories %}
    <table class="table">
        <thead>
        <tr>

            <th scope="col">Date</th>
            <th scope="col">Nombre de produits</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>

        {% for history in histories %}

        <tr>

            <th>
                <a style="color:blue" href="{{ history.get_absolute_url }}">
                {{ history.date }}
                </a>
            </th>
            <td>{{ history.get_number_products }}</td>
            <td class="num">{{ history.get_total_cost }}€</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
        <p class="text-right">
            <a href="{% url 'website:products' %}">
                <button id="btn_return" class="btn btn-success">Retourner aux produits</button>
            </a>
        </p>

{% else %}
         <div class="container text-center mt-5" style="min-height: 50vh">
             <h4 class="mt-4 mb-5">Pas d'historique ...</h4>

        <p class="text-right">
            <a href="{% url 'website:products' %}">
                <button   class="btn btn-success">Retourner aux produits</button>
            </a>
        </p>
        </div>

{% endif %}
    </div>
    </div>
  </main>
{% endblock %}

{% block extrascripts %}


    <script>
    let widthScreenStart = window.innerWidth;
    const btn = document.querySelector('#btn_return')
    if (btn) {
            if (widthScreenStart < 445) {
                btn.innerHTML = 'RETOUR'
            } else {
                btn.innerHTML = 'RETOUR AUX PRODUITS'
            }
        }
    // calculate screen windows in real time and change html
    function resize() {
        let widthScreenReload = window.innerWidth;

        if (btn) {
            if (widthScreenReload < 445) {
                btn.innerHTML = 'RETOUR'
            } else {
                btn.innerHTML = 'RETOUR AUX PRODUITS'
            }
        }

    }
    window.onresize = resize;
    </script>
{% endblock %}