{% load menu_generator %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <!-- NAV BAR Start -->
        {% get_menu "NAV_MENU_TOP" as top_menu %}


        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
              {% for item in top_menu %}
                    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ item.url }}">{{ item.name }}</a>
                {% if item.submenu %}
                    <ul>
                    {% for menu in item.submenu %}
                        <li class="{% if menu.selected %} active {% endif %}">
                            <a href="{{ menu.url }}">{{ menu.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </nav>

         <!-- NAV BAR End -->

         <!-- SIDENAV Start -->
        {% get_menu "NAV_MENU_LEFT" as left_menu %}
        <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">

            <ul class="nav flex-column">

            <form class="add_your_class" method="GET" action="" >
            <div class="form-row">
                <div class="form-group col-12">
                    <div class="input-group">
                     <input class="form-control py-2 border-right-0 border"
                            type="search" name="search"
                            placeholder="code article">
                        <span>
                            <div class="input-group-text bg-transparent">
                                <button class="fa fa-search" type="submit"></button>
{#                                <i class="fa fa-search" type="submit"></i>#}
                            </div>
                        </span>
                    </div>
                </div>
              </div>
            </form>


                {% for item in left_menu %}
                <li class="{% if item.selected %} active {% endif %}">
                <a href="#{{ item.name }}" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"> <i class="{{ item.icon_class }}" ></i> {{ item.name }}</a>
                </li>

                {% if item.submenu %}
                    <ul class="collapse list-unstyled" id="{{ item.name }}">
                    {% for menu in item.submenu %}
                        <li class="{% if menu.selected %} active {% endif %}">
                            <a
{#                                    href="#"#}
{#                                    data-catid="{{ menu.name }}"#}
                                    href="{% url 'home_filter' name=menu.name %}"
                               id="submenu"
{#                            data-id="{% url 'home_filter' menu.name %}"#}
                            >{{ menu.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            </h6>

          </div>
        </nav>
      </div>
    </div>

        <!-- SIDENAV END -->


        <!-- Footer Start -->
        {% get_menu "FOOTER_MENU_LEFT" as left_footer_menu %}
        <div style="float:left;">
            <!-- loop through your left footer menus -->
        </div>

        {% get_menu "FOOTER_MENU_RIGHT" as right_footer_menu %}
        <div style="float:right;">
            <!-- loop through your right footer menus -->
        </div>
        <!-- Footer End -->
    </body>
</html>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('#submenu').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "/home_filter",
        data:{
                 name: catid
        },
        success: function( data )
        {
            console.log(data);
            {#$( '#message' ).text(data);#}
        }
     })
});
</script>